<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="false">

    <listeners>
        <listener class-name="com.automation.listeners.ScreenshotListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Inventory Tests">
        <classes>
            <class name="com.automation.tests.InventoryTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.automation.tests.CartTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.automation.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
